* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
}
body {
  background-color: #efefef;
  margin: 0;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-transform: uppercase;
  border: 2px solid #282c34;
  padding: 5px 7px;
  border-radius: 14px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #282c34;
  transition: all 0.3s ease-in;
}
.taskLink {
  &:hover {
    background-color: rgb(195, 227, 120);
  }
  &:focus {
    background-color: rgb(145, 231, 112);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  padding: 10px 18px;
  background-color: #e5e5e5;
  outline: none;
  border: 2px solid #1a0a0a;
  border-radius: 16px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.task {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task17 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemWrapper {
  display: flex;
  gap: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: stretch;
  margin: 1rem;
  gap: 10px;

  h1 {
    position: relative;
    cursor: pointer;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      right: -25px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid black;
      transition: transform 0.3s ease;
    }

    &.open::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  div {
    font-size: 1.75rem;
    & a {
      padding: 10px 20px;
      text-transform: none;
      display: block;
      transition: color 0.3s ease-in;
      &:hover {
        color: rgb(145, 188, 44);
        border-color: rgb(145, 188, 44);
      }
    }
  }
}

.active {
  font-weight: 500;
}
